body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
}

h2 {
  margin-bottom: 50px;
}

#colorBox {
  width: 200px;
  height: 200px;
  background-color: #000;
  border: 1px solid #ccc;
  margin-top: 20px;
  border-radius: 6px;
}

input {
  padding: 10px;
  margin-bottom: 12px;
  font-size: 16px;
  width: 180px;
  height: 30px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 6px;
  text-align: center;
}